.media{
  align-items: center !important;
}

.w3eden .btn-primary{
  background: rgba(255,0,0,0.6);
  border: none;
  box-shadow: 2px 2px 2px #c8c8c8;
}

.w3eden .btn-primary:hover{
  background: rgba(255,0,0,0.6);
  border: none;
  box-shadow: 2px 2px 2px #c8c8c8;
}

.w3eden .card-body{
  background: #f8f8f8;
  box-shadow: 2px 2px 2px #c8c8c8;;
}

@media screen and(max-width: 960px){
  .w3eden .mr-3 {
    margin-right: 0 !important;
  }

  .w3eden .ml-3{
    margin-left: 0 !important;
  }
}