.container{
  width: 100%;
}

.col-md-9{
  float: none;
  margin: auto;
  width: 85%;
}

.wp-block-column{
  padding: 0;
}

.wp-block-column:not(:first-child){
  margin: 0;
}

.wp-block-image{
  display: flex;
  justify-content: center;
  height: 150px;
}

.column:not(:first-child){
  margin-left: 2em ;
}


@media screen and(max-width: 960px) {

  .column:not(:first-child) {
    margin-left: 0;
    margin-bottom: 2em;
  }

  .column{
    margin-bottom: 2em;
  }

  .wp-block-buttons:first-child{
    margin-bottom: 1em;
  }

  .columns{
    margin-bottom: 0 !important;
  }
}


