.container{
  width: 100%;
}

.col-md-9{
  float: none;
  margin: auto;
  width: 85%;
}

.wp-block-column{
  padding: 0;
}

.wp-block-column:not(:first-child){
  margin: 0;
}

.wp-block-image{
  display: flex;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.column:not(:first-child){
  margin-left: 2em ;
}

.entry-content>h3 {
  margin: 0 0 1em 5.2%;

  @media screen and(max-width: 960px){
    margin: 0 0 1em 0;
  }
}

@media screen and(max-width: 960px) {

  .column:not(:first-child) {
    margin-left: 0;
    margin-bottom: 2em;
  }

  .column{
    margin-bottom: 2em;
  }

  .wp-block-buttons:first-child{
    margin-bottom: 1em;
  }

  .columns{
    margin-bottom: 0 !important;
  }
}


