.site-footer{
  background: #f8f8f8;
  color: black;
}

.site-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer__commits{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.site-footer a {
  color: black;
}

.newsL{
  display: flex;
}

.newsL h3 {
  margin-top: 0;
  margin-bottom: 0;
}