.presentation__header{
  max-width: 400px;
}

.site__home-header{
  background-position: center center !important;
  backface-visibility: hidden !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  animation: slideBg 15s ease-in-out infinite running !important;
  animation-timing-function: ease-in-out !important;
  background: url("../../../uploads/2021/11/cropped-cropped-acs_lure_good-scaled-1-1.jpg") ;
}

@keyframes slideBg {
  0% {
    background: url("../../../uploads/2021/11/cropped-cropped-acs_lure_good-scaled-1-1.jpg") ;
  }
  33% {
    background : url("./images/coding.jpg") ;
  }
  66%{
    background : url("./images/bgCodage.jpeg") ;
  }
}

@media screen and(max-width: 960px) {
  .entry-header h1 {
    font-size: 24px;
  }

  .main-navigation .menu-toggle{
    border: none !important;
  }
}
