@media screen and(max-width: 960px) {
  .card-body .media{
    flex-direction: column;
    text-align: center;
  }

  .media-body{
    width: 100%;
  }

  .card-body .media > div:not(:first-child){
    margin-top: 1em;
  }

  .w3eden .mb-2{
    margin-bottom: 1rem !important;
  }
}